.container {
  margin: 0 auto;
  display: flex;
}

.navigate {
  flex: 0 0 280px;
}

.main {
  flex-grow: 1;
  padding: 14px;
  background: #f5f5f6;
  padding: 40px 90px;
}

.movie-descripption {
  flex-grow: 1;
  padding: 14px;
  background: #f5f5f6;
  padding: 40px 180px;
}

@media (max-width: 1260px) {
  .container {
    flex-direction: column;
    height: 100vh;
  }

  .movie-descripption {
    padding: 40px 40px;
  }

  .navigate {
    flex: none;
    width: 100%;
  }

  .main {
    padding: 20px 40px;
  }
}
@media (max-width: 970px) {
  .movie-descripption {
    padding: 20px 20px;
  }

  .container {
    height: 100vh;
  }
}
