.filter {
  display: flex;
  flex-direction: column;
}

.filter-label {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44.8px;
  text-align: left;
  padding-bottom: 40px;
}

.filter-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-raiting-to {
  padding-left: 4px;
}

.filter-raiting-from {
  padding-right: 4px;
}
p {
  margin: 0;
}

.select-label {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
  text-align: left;
  padding-bottom: 8px;
}

.select {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  width: 29%;
}

.select:last-child {
  margin-right: 0;
}

.filter-reset-button {
  margin-top: 38px;
  color: #7b7c88;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  height: 24px;
  padding-right: 0;
}

.filter-sort-by {
  display: flex;
  justify-content: flex-end;
  padding-top: 24px;
}
@keyframes shake {
  50% {
    transform: scale(2);
    transition: transform 1s ease-in-out;
  }
}
.chevron {
  transition: transform 0.5s ease, color 0.5s ease;
}

.chevron:hover {
  animation: shake 1s infinite;
}

@media (max-width: 750px) {
  .filter-inputs {
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
  }
  .filter-reset-button {
    margin-top: 36px !important;
  }

  .select {
    width: calc(50% - 12px);
    margin-right: 0;
  }

  .select:nth-child(3) {
    width: 100%;
    margin-right: 0;
  }

  .filter-sort-by {
    width: calc(50% - 12px);
    padding-top: 0;
    order: 3;
    justify-content: flex-start;
  }

  .filter-sort-by .select {
    width: 100%;
    margin-right: 0;
  }

  .filter-reset-button {
    width: calc(50% - 12px);
    margin-top: 24px;
    order: 4;
  }
  .filter-raiting-to {
    padding-left: 0;
    width: calc(50% - 12px);
  }

  .filter-raiting-from {
    padding-right: 0;
    width: calc(50% - 12px);
  }
}
